body {
    margin: 0;
    padding: 25px;
    background-color: #101214;
    color: #7A7C80;
}

h1 {
    text-align: center;
}

a {
    color: #7A7C80;
}

#links {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, a:hover {
    color: white;
}